# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
venv/
env/

# IDE / editor
.vscode/
.idea/

# Environment & config
.env
config.json

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db
